.grid-container{
    display: grid;
    grid-template-rows: 1;
    background-color: #FFD94E;
    height:108vh;
}

.imgSec{
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    top: -10vh;
    left: 0.5vw;
    position: relative;
}

.logoContainer{
    padding: 3vw;
}

.logoImg{
    width: 90%; 
    height: 13vw; 
    background-color: #FFD94E; 
    mix-blend-mode: multiply;
}


.marginDiv{
    background-color: white;
    height: 8vh;
}

.mainImg1{
    position: relative;
    width:35vw;
    height: 43vh; 
    top: 0vh; 
    left: 0vw; 
    z-index: 1;
}

.mainImg2{
    position: relative; 
    width:30vw; 
    height:44vh; 
    top: 0vh; 
    left: 1vw; 
    z-index: 1;
}

.mainImg3{
    position: relative; 
    width:49vw; 
    height:60vh; 
    top: 3vh; 
    left: 0vw; 
    z-index: 1;
}

.mainImg4{
    position: relative; 
    width:13vw; 
    height:60vh; 
    top: 3vh; 
    left:2vw; 
    z-index: 1;
}

.navBar{
    height: 25vh;
    margin-top: 1vw;
}

.scrollInd{
    text-align: center; 
    text-decoration: underline; 
    margin-top: 10vh;
}

.textSec{
    grid-column-start: 1;
    grid-column-end: 1;
    width: 30vw;
    padding: 2vw;
    font-family: Raleway, serif;
}


a{
    padding: 1vw;
}

p{
    width: 100%;
    text-align: center;
}
