{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="../static/css/blog.css">
    
</head>
<body>
    {% include 'magazines/navbar.html'%}

    <div class= 'titleBar'><a class = 'blogTitle' href = 'https://medium.com/@ivisualizeyou'>Blog</a></div>
    <div class = 'mainBody'>
        <div class = 'mainBody'id="retainable-rss-embed" 
            data-rss="https://medium.com/feed/@ivisualizeyou"
            data-maxcols="3" 
            data-layout="slider" 
            data-poststyle="inline" 
            data-readmore="Read the rest" 
            data-buttonclass="btn btn-primary" 
            data-offset="-100">
        </div>
    </div>
    <div class = 'mainBody'>
        <div class = 'mainBody'id="retainable-rss-embed" 
            data-rss="https://medium.com/feed/@ivisualizeyou"
            data-maxcols="3" 
            data-layout="slider" 
            data-poststyle="inline" 
            data-readmore="Read the rest" 
            data-buttonclass="btn btn-primary" 
            data-offset="-100">
        </div>
    </div>
</body>
<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
