{% extends 'magazines/main.html' %}
{% load static %}

{% block content %}
<div style="height: 8vh; width: 100vw; background-color: white;"></div>
<div class="grid-container" style="background-color:#FFD94E;height:100%;">
    <div class="textSec">
        <div style="padding: 3vw;"><img src="../static/images/ivyLargeLogo.jpg" style="width: 100%; height: 100%; background-color: #FFD94E; mix-blend-mode: multiply;"></div>
        <p>Any statements to express IVY's identity</p>
        <h5 style="text-align: center; text-decoration: underline; margin-top: 20vh;">SCROLL FOR MORE</h5>
    </div>
    <div class="imgSec" style="position: relative; height: 80vh; width: 70vw; top: -15vh; left: 0vw">
        <img src="../static/images/mainPic2.jpg" style="position: relative; width:20vw; height:40vh; left: 29.5vw; top: 49vh; "/>
        <img src="../static/images/mainPage3.jpg" style="position: relative; width:45vw; height: 50vh; left:-16vw; top:0vh;"/>
        <img src="../static/images/mainPic4.jpg" style="position: relative; width:16vw; height:80vh; left:52vw; top: -45vh; "/>
    </div>
</div>
{% endblock %}
