{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>IVY magazine</title>

    <script type="text/javascript">
        // F12
        $(document).ready(function(){
            $(document).bind('keydown',function(e){
                if ( e.keyCode == 123 /* F12 */) {
                    e.preventDefault();
                    e.returnValue = false;
                }
            });
        });
        
        // right click
        document.onmousedown=disableclick;
        status="Right click is not available.";
        
        function disableclick(event){
            if (event.button==2) {
                alert(status);
                return false;
            }
        }
    </script>
    
</head>
<body>
    <div class="grid-containerMain">
        <div class="gridNav">
            {% include 'magazines/navbar.html'%}
        </div>
        <div class="gridBody">
            <!-- Section where chind template redesign -->

            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
<script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
